<div class="admin">
  <div class="admin__header">
    <div class="admin__header--back">
      <h2 class="admin__header--title">Welcome to admin panel!</h2>
    </div>
    <button class="btn btn-outline-dark" (click)="open(content)">
      Add new server
    </button>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add server</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form2">
        <div style="" class="form-group">
          <input
            required
            formControlName="name"
            type="text"
            placeholder="Enter Server name:"
            autocomplete="off"
            name="name"
            id="name"
            #name
            [(ngModel)]="server.name"
          />
          <div *ngIf="form2.controls.name.invalid && (form2.controls.name.dirty || form2.controls.name.touched)" class="alert alert-danger">
            <div *ngIf="form2.controls.name.errors.required">Name is required.</div>
          </div>
          <input
            required
            formControlName="ipAddress"
            type="text"
            placeholder="Enter Server link:"
            name="ipAddress"
            id="ipAddress"
            [(ngModel)]="server.ipAddress"
            #ipAddress
          />
          <div *ngIf="form2.controls.ipAddress.invalid && (form2.controls.ipAddress.dirty || form2.controls.ipAddress.touched)" class="alert alert-danger">
            <div *ngIf="form2.controls.ipAddress.errors.required">Ip address is required.</div>
          </div>
          <input
            required
            formControlName="description"
            type="text"
            placeholder="Enter Server description:"
            name="description"
            id="description"
            [(ngModel)]="server.description"
            #description
          />
          <div *ngIf="form2.controls.description.invalid && (form2.controls.description.dirty || form2.controls.description.touched)" class="alert alert-danger">
            <div *ngIf="form2.controls.description.errors.required">Description is required.</div>
          </div>
          <div id="incorrectAddress" class="alert alert-danger incorrect"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer" style="width: 100%">
      <button
        type="button"
        class="btn btn-success"
        [disabled]="!server.name || !server.ipAddress || !server.description"
        (click)="this.createServer() || changeSuccessMessage()"
      >
        Add server
      </button>
      <div *ngIf="createServerr" >{{ modal.close('Save click')}}</div>
    </div>
  </ng-template>

  <div class="admin__server-dialog">

    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">UPDATE SERVER</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form2">
          <div style="" class="form-group">
            <input
              required
              formControlName="name"
              type="text"
              placeholder="Enter Server name:"
              autocomplete="off"
              name="name"
              id="name"
              [ngModel]="personalEmail" (ngModelChange)="server.name = $event"
            />
            <div *ngIf="form2.controls.name.invalid && (form2.controls.name.dirty || form2.controls.name.touched)" class="alert alert-danger">
              <div *ngIf="form2.controls.name.errors.required">Name is required.</div>
            </div>
            <input
              required
              formControlName="ipAddress"
              type="text"
              placeholder="Enter Server link:"
              name="ipAddress"
              id="ipAddress"
              [(ngModel)]="server.ipAddress"
              #check
            />
              <div *ngIf="form2.controls.ipAddress.invalid && (form2.controls.ipAddress.dirty || form2.controls.ipAddress.touched)" class="alert alert-danger">
                <div *ngIf="form2.controls.ipAddress.errors.required">Ip address is required.</div>
              </div>
            <input
              required
              formControlName="description"
              type="text"
              placeholder="Enter Server description:"
              name="description"
              id="description"
              [(ngModel)]="server.description"
            />
            <div *ngIf="form2.controls.description.invalid && (form2.controls.description.dirty || form2.controls.description.touched)" class="alert alert-danger">
              <div *ngIf="form2.controls.description.errors.required">Description is required.</div>
            </div>
            <div id="incorrectAddress2" class="alert alert-danger incorrect"></div>
          </div>
        </form>
      </div>

      <div class="modal-footer" style="width: 100%">
        <button
          type="button"
          class="btn btn-success"
          [disabled]="!server.name || !server.ipAddress || !server.description"

          (click)="this.updateServer(server) || changeSuccessMessage()"
        >
          UPDATE
        </button>
        <div *ngIf="createServerr" >{{ modal.close('Save click')}}</div>
      </div>
    </ng-template>

  </div>

  <div class="admin__container">
    <table class="table table-striped table-responsive-lg" >
      <thead>
      <tr>
        <th>Server Name</th>
        <th>Server Link</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let server of this.servers">
        <td>{{server.name}}</td>
        <td>{{server.ipAddress}}</td>
        <td>{{server.description}}</td>
        <td style="width: 15rem">
          <div class="row flex-nowrap">
            <button class="btn btn-info" (click)="open(content2) || updateInfo(server)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger" (click)="deleteUser(server)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
