<section>
  <button class="back" type="button" href="#" routerLink="/servers/data"><i class="fas fa-long-arrow-alt-left"></i>Back</button>
  <div class="container">
    <h1 class="title">Seasons</h1>
    <div class="row">
      <div class="item">
        <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;" data-md-icheck (change)="toggleVisibility($event)"
               (click)="getUniqSeasons()  &&  getSumOfEachSeason()"/>
        <label class="cbx" for="cbx">
          <span><svg width="12px" height="10px" viewbox="0 0 12 10"><polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span>
          <span>Number of Studies</span>
        </label>
      </div>
    </div>
    <div class="list">
      <h2 *ngIf="marked">Years</h2>
      <ul class="list-group" *ngIf="marked">
        <li class="list-group-item" *ngFor="let in of counter(year.length); let i = index ">{{year[i]}}</li>
      </ul>
    </div>
    <div class="charts" *ngIf="canvasShow">
      <table>
        <td>
          <button class="btn-pdf" (click)="saveToPDF('barChart')">Download PDF</button>
          <canvas id="barChart"></canvas>
        </td>
        <td>
          <button class="btn-pdf" (click)="saveToPDF('pieChart')">Download PDF</button>
          <canvas id="pieChart" baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"></canvas>
        </td>
      </table>
    </div>
  </div>
</section>
