.sidebar{
  position: fixed;
  z-index: 999;
  width: 230px;
  height: 100%;
  background-color: #2C3034;
  padding: 40px;

  &__logo{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Saira';
    margin-bottom: 30px;
    margin-left: -15px;

    &:active, &:focus, &:hover{
      outline: none;
      cursor: pointer;
    }

    &--logotype{
      height: 45px;
      margin-right: 10px;
    }

    &--upper{
      font-size: 20px;
    }

    &--lower{
      font-size: 15px;
    }
  }

  &__navigation{
    &--item{
      display: flex;
      align-items: center;
      margin: auto -60px;
      margin-right: -172px;
      height: 50px;
      border-left: 6px solid #2C3034;
      border-top: 2px solid #262B2E;
      list-style-type: none;

      &:last-child{
        border-bottom: 2px solid #262B2E;
      }

      &:hover{
        border-left: 6px solid #262B2E;
        background-color: #262B2E;
        cursor: pointer;
      }

      &:active, &:focus{
        background-color: #262B2E;
        outline: none;
        border-left: 6px solid #139553;
      }

      a{
        font-family: 'Saira';
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        margin-left: 40px;

        &:visited, &:hover{
          text-underline: none;
          text-decoration: none;
        }
      }
    }
  }
}

.active{
  background-color: #262B2E;
  outline: none;
  border-left: 6px solid #139553;
}

@media (max-width: 1500px) {
  .sidebar{
    width: 230px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: relative;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;


    &__logo {
      float: left;
      margin-top: 10px;
      margin-left: 0;

      &--upper{
        font-size: 20px;
        margin-bottom: 0;
      }

      &--lower{
        font-size: 15px;
      }
    }

    &__navigation{
      display: flex;
      flex-direction: row;
      float: left;
      align-items: center;

      ul{
        flex-direction: row;
        display: flex;
        margin-bottom: 0;
        margin-top: 22px;
        margin-right: -55px !important;

        .sidebar__navigation--item{
          float: left;
          margin-left: 0;
          margin: auto 10px;
          padding-right: 20px;
          border-top: none;
          border-bottom: 2px solid #2C3034;
          background-color: #2C3034;

          &:active, &:focus{
            background-color: #262B2E;
            outline: none;
            border-left: none;
            border-bottom: 2px solid #139553;

          }
        }
      }
    }
  }
  .active{
    background-color: #262B2E;
    outline: none;
    border-left: none;
    border-bottom: 2px solid #139553;
  }
}

.modal-header{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.modal-footer{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  .btn-outline-dark{
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 10px 30px;

    &:hover{
      background-color: #139553;
      border-color: #139553;
    }
  }
}

.modal-content{

}

.modal-header, .modal-body, .modal-footer{
  background-color: #3F4347;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: center;
  border: none;
  outline: none;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFFFFF;

  &:focus{
    border: none;
    outline: none;
  }
}

.modal-title{
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-size: 40px;
}

.modal-body{
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 18px;

  .form-group{
    margin-top: 20px;
  }

  .form-control{
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #FFFFFF;

    &:focus, &:active{
      outline: none;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      box-shadow: none;
    }
  }
}
