<div class="sidebar">
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav class="s-sidebar__nav">
      <ul>
        <li>
          <input type="text" class="searching" placeholder="Search"><i class="fa fa-search"></i>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#">
            <i class="fas fa-filter"></i><em>Fiters</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#">
            <i class="fas fa-table"></i><em>Data bases</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#">
            <i class="fas fa-server"></i><em>Servers</em>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
