.sidebar{
  position: fixed;
  z-index: 999;
  width: 230px;
  height: 100%;
  background-color: #2C3034;
  padding: 40px;

  &__logo{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Saira';
    margin-bottom: 30px;

    &:active, &:focus, &:hover{
      outline: none;
      cursor: pointer;
    }

    &--upper{
      font-size: 30px;
    }

    &--lower{
      font-size: 18px;
    }
  }

  &__navigation{
    &--item{
      display: flex;
      align-items: center;
      margin: auto -60px;
      margin-right: -172px;
      height: 50px;
      border-left: 6px solid #2C3034;
      border-top: 2px solid #262B2E;
      list-style-type: none;

      &:last-child{
        border-bottom: 2px solid #262B2E;
      }

      &:hover{
        border-left: 6px solid #262B2E;
        background-color: #262B2E;
        cursor: pointer;
      }

      &:active, &:focus{
        background-color: #262B2E;
        outline: none;
        border-left: 6px solid #139553;
      }

      a{
        font-family: 'Saira';
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        margin-left: 40px;

        &:visited, &:hover{
          text-underline: none;
          text-decoration: none;
        }
      }
    }
  }
}

.active{
  background-color: #262B2E;
  outline: none;
  border-left: 6px solid #139553;
}

@media (max-width: 1500px) {
  .sidebar{
    width: 230px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: relative;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;


    &__logo {
      float: left;
      margin-top: 10px;

      &--upper{
        font-size: 20px;
        margin-bottom: 0;
      }

      &--lower{
        font-size: 15px;
      }
    }

    &__navigation{
      display: flex;
      flex-direction: row;
      float: left;
      align-items: center;

      ul{
        flex-direction: row;
        display: flex;
        margin-bottom: 0;
        margin-top: 22px;
        margin-right: -55px !important;

        .sidebar__navigation--item{
          float: left;
          margin-left: 0;
          margin: auto 10px;
          padding-right: 20px;
          border-top: none;
          border-bottom: 2px solid #2C3034;
          background-color: #2C3034;

          &:active, &:focus{
            background-color: #262B2E;
            outline: none;
            border-left: none;
            border-bottom: 2px solid #139553;

          }
        }
      }
    }
  }
  .active{
    background-color: #262B2E;
    outline: none;
    border-left: none;
    border-bottom: 2px solid #139553;
  }
}
