<div class="filters">
  <div class="filters__header">
    <div class="filters__header--back">
      <div class="info" routerLink="../">
        <img  src="../../assets/back.png" alt="Back">
        <h4 class="back__title">Servers</h4>
      </div>
      <div class="filters__header--separator"></div>
      <h2 class="filters__header--title">Choose filters</h2>
    </div>
    <button
      href="#"
      class="btn filters__header--button"
    >
      Accept
      <img src="../../assets/next.png" alt="Next">
    </button>
  </div>
    <div class="trials">
      <div class="filters__container&#45;&#45;card"
           *ngFor="let trial of this.routes.snapshot.data.dataResolve.data; let i = index">
        <input
          class="filters__container&#45;&#45;card-checkbox"
          [(ngModel)]="checkboxes[i].selected"
          type="checkbox"
          id="{{ checkboxes[i].trialName }}{{i}}"
          name="num"
          checked="checked"
        />
        <div class="filters__container&#45;&#45;card-content">
          <label for="{{ checkboxes[i].trialName }}{{i}}">
            <div class="header">
              <h3>{{checkboxes[i].trialName}}</h3>
              <div class="row mt-4">
                <h5>Program Name:</h5>
                <h5 class="bold">{{checkboxes[i].programName}}</h5>
              </div>
              <div class="row">
                <h5>Examined Crop:</h5>
                <h5 class="bold">{{checkboxes[i].commonCropName}}</h5>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>

