<div class="investigation">
  <div class="investigation__background">
    <img
      class="investigation__background--back"
      src="../../assets/leaves-background-1.png"
    />
    <img
      class="investigation__background--front"
      src="../../assets/leaves-background-2.png"
    />
  </div>
  <div class="investigation__header">
    <h2 class="investigation__header--title">STUDIES</h2>
    <div class="buttons">
      <button class="btn button" type="button" href="#" routerLink="/servers/data">
        <i class="fas back fa-long-arrow-alt-left"></i>
        BACK
      </button>
      <button class="btn button" type="button" href="#" >
        NEXT
        <i class="fas next fa-long-arrow-alt-right"></i>
      </button>
    </div>
  </div>
  <div class="investigation__container">
    <div class="mx-5 col-md-12 col-lg-4 investigation__container--item">
      <h4 class="title">Polapgen drought investigation - field PDO</h4>
      <div class="body">
        <div class="description">
          <h6 class="description__title">Description</h6>
          <p class="description__text">Data from experiments in natural field conditions on barley varieties</p>
          <div class="description__hr"></div>
        </div>
        <div class="invest">
          <h6 class="invest__title">Investigation</h6>
          <p class="invest__text">Trait:1000-grain weight, grain yield, Monthly mean temperature, Monthly total rainfall, plant height,<br>
            Characteristics:Coordinates, Experimental unit type, Infraspecific name, Infraspecific rank, Organism,<br>
            Assay Type:phenotyping<br>
            Organism:Hordeum vulgare<br>
            Infraspecific name:Afrodite, Atico, Basic, Blask, Conchita,<br>
            Seed origin:Danko HR, DLG Polska, HaGe Polska, HR Smolice, KWS Lochow Polska,</p>
        </div>
      </div>
    </div>
    <div class="mx-5 col-md-12 col-lg-4 investigation__container--item">
      <h4 class="title">Atwell et al., Nature 2010</h4>
      <div class="body">
        <div class="description">
          <h6 class="description__title">Description</h6>
          <p class="description__text">GWAS of 107 phenotypes in Arabidopsis thaliana inbred lines using ~250k SNPs in 199 accessions</p>
          <div class="description__hr"></div>
        </div>
        <div class="invest">
          <h6 class="invest__title">Investigation</h6>
          <p class="invest__text">Trait:0W, 0W GH FT, 0W GH LN, 2W, 4W,<br>
            Characteristics:Geographic location, Growth facility, Infraspecific name, Organism, Organism part,<br>
            Assay Type:phenotyping<br>
            Organism:Arabidopsis thaliana<br>
            Infraspecific name:36708, 42675, 42676, Aa-0, Ag-0, </p>
        </div>
      </div>
    </div>
  </div>
</div>
