<div class="homepage">
  <div class="homepage__scene" id="scene">
    <div data-depth="0.2"><img src="../../assets/leaves-background-1.png" class="leaves-background-1"></div>
    <div data-depth="0.4"><img src="../../assets/leaves-background-2.png" class="leaves-background-2"></div>
  </div>
  <div class="homepage__box">
    <div class="homepage__box--left">
      <h2>WELCOME TO <br/><span class="title">PLANTPHENO</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid atque blanditiis cum facere, ipsum iure,
        molestias, numquam praesentium rerum sapiente totam! Doloribus eos esse iste nulla perferendis tenetur
        voluptatum?</p>
      <div class="homepage__box--left-button">
        <button class="btn sign-in" href="#" routerLink="/login">SIGN IN</button>
        <button class="btn servers" href="#" routerLink="/servers">SERVERS</button>
      </div>
    </div>
    <div class="homepage__box--right">
      <img src="../../assets/laptop.png"/>
    </div>
  </div>
</div>
