section {
  position: absolute;
  z-index: -10;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #303338;

  .container {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
    align-content: center;

    .col{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;

      .title{
        color: #fff;
        font-family: Roboto;
        font-size: 49px;
        font-weight: normal;
      }

      .name{
        color: #fff;
        font-family: Roboto;
        font-size: 85px;
        font-weight: bold;
      }

      .description{
        color: #fff;
        font-family: Roboto;
        font-weight: lighter;
        font-size: 29px;
      }

      .row{
        margin: 20px 5px;

        .btn.sign-in{
          width: 200px;
          padding: 10px;
          color: #fff;
          font-family: Roboto;
          font-weight: lighter;
          font-size: 25px;
          margin-right: 50px;
          background-color: #B6844A;
          border-radius: 5px;

          &:hover{
            background-color: #715234;
          }
        }

        .servers{
          width: 200px;
          padding: 10px;
          color: #fff;
          font-family: Roboto;
          font-weight: lighter;
          font-size: 25px;
          border: 1px solid #B6844A;
          border-radius: 5px;

          &:hover{
            background-color: #715234;
          }
        }
      }

      .laptop{
        width: 1050px;
        height: auto;
      }
    }
  }
}
