<section>
  <div id="scene">
    <div data-depth="0.2"><img src="../../assets/pic1.png" class="pic1"></div>
    <div data-depth="0.4"><img src="../../assets/pic2.png" class="pic2"></div>
  </div>
  <div class="container">
    <div class="col">
      <h2 class="title">WELCOME TO</h2>
      <h1 class="name">PLANTPHENO</h1>
      <h4 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid atque blanditiis cum facere, ipsum iure,
        molestias, numquam praesentium rerum sapiente totam! Doloribus eos esse iste nulla perferendis tenetur
        voluptatum?</h4>
      <div class="row">
        <button class="btn sign-in" href="#" routerLink="/login">SIGN IN</button>
        <button class="btn servers" >SERVERS</button>
      </div>
    </div>
    <div class="col image">
      <img class="laptop" src="../../assets/laptop.png"/>
    </div>
  </div>
</section>
