.homepage {
  position: absolute;
  z-index: -2;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #3F4347;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__scene, #scene {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .first{
      left: 40% !important;
      top: 5% !important;
    }

    .second{
      left: 70% !important;
      top: 60% !important;
    }

    .analytics-background {
      opacity: .05;
    }
  }


  &__box {
    margin: 0 auto;
    padding-left: 15vw;
    overflow: hidden;
    max-width: 90%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-top: 2rem;

    &--left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      margin-right: 6vw;

      h1 {
        color: #fff;
        font-family: Roboto;
        font-size: 50px;
        font-weight: normal;
      }

      .title {
        color: #fff;
        font-family: Roboto;
        font-size: 60px;
        font-weight: bold;
      }

      p {
        color: #fff;
        font-family: Roboto;
        font-weight: lighter;
        font-size: 22px;
        max-width: 35rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

      }

      &-button {
        margin: 20px 5px;

        .btn {
          width: 200px;
          padding: 10px;
          color: #fff;
          font-family: Roboto;
          font-weight: lighter;
          font-size: 25px;
          border-radius: 5px;
        }

        .btn:focus, .btn:active {
          outline: none !important;
          box-shadow: none;
        }

        .sign-in {
          margin-right: 50px;
          background-color: #139553;

          &:hover {
            -webkit-transition: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both;
            animation: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both
          }
        }

        .servers {
          border: 1px solid #139553;

          &:hover {
            -webkit-transition: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both;
            animation: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both
          }
        }
      }
    }

    &--right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      margin-left: 6vw;

      img {
        width: 25vw;
        height: auto;
        max-width: 864px;
        height: auto;
      }
    }
  }

  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #139553, 0 0 #139553, 0 0 #24543c, 0 0 #24543c, 0 0 #384a37, 0 0 #384a37, 0 0 #384a37, 0 0 #384a37;
      box-shadow: 0 0 #139553, 0 0 #139553, 0 0 #24543c, 0 0 #24543c, 0 0 #384a37, 0 0 #384a37, 0 0 #384a37, 0 0 #384a37;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0)
    }
    100% {
      -webkit-box-shadow: 1px -1px #139553, 2px -2px #139553, 3px -3px #24543c, 4px -4px #24543c, 5px -5px #384a37, 6px -6px #384a37, 7px -7px #384a37, 8px -8px #384a37;
      box-shadow: 1px -1px #139553, 2px -2px #139553, 3px -3px #24543c, 4px -4px #24543c, 5px -5px #384a37, 6px -6px #384a37, 7px -7px #384a37, 8px -8px #384a37;
      -webkit-transform: translateX(-8px) translateY(8px);
      transform: translateX(-8px) translateY(8px)
    }
  }
}

@media (max-width: 1700px) {
  .homepage__box--left {

    h1 {
      font-size: 35px;
    }

    .title {
      font-size: 70px;
    }

    p {
      font-size: 20px;
    }

    &-button {

      .btn.sign-in {
        width: 180px;
        font-size: 20px;
      }

      .btn.servers {
        width: 180px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .homepage{
    &__box {
      padding-left: 230px;
    }
  }
}


@media (max-width: 1300px) {
  .homepage__box--left {

    h1 {
      font-size: 30px;
    }

    .title {
      font-size: 60px;
    }

    p {
      font-size: 18px;
    }

    &-button {

      .btn.sign-in {
        width: 150px;
        font-size: 20px;
        margin-right: 20px;
      }

      .btn.servers {
        width: 150px;
        font-size: 20px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .homepage__box--left {
    margin-right: 4vw;

    h1 {
      font-size: 25px;
    }

    .title {
      font-size: 50px;
    }

    p {
      font-size: 15px;
    }

    &-button {
      margin: 15px 0px;

      .btn.sign-in {
        width: 120px;
        font-size: 20px;
      }

      .btn.servers {
        width: 120px;
        font-size: 20px;
      }
    }
  }
  .homepage__box--right{
    margin-left: 4vw;
  }
}


@media (max-width: 800px) {
  .homepage{
    &__box {
      padding-left: 0;
    }
  }
  .homepage__box {

    flex-direction: column;
    margin-top: 5rem;

    &--left {
      text-align: center;

      h1 {
        font-size: 20px;
      }

      .title {
        font-size: 35px;
      }

      p {
        margin: 0 auto;
        font-size: 12px;
      }

      &-button {
        flex-direction: column;
        align-items: center;

        .btn.sign-in {
          width: 200px;
          font-size: 15px;
        }

        .btn.servers {
          width: 200px;
          font-size: 15px;
        }
      }
    }

    &--left{
      margin-right: 0;
    }

    &--right{
      display: flex;
      align-items: center;
      margin-left: 0;
    }
  }
}
