<div class="homepage">
  <div class="homepage__scene" id="scene">
    <div class="first" data-depth="0.2"><img src="../../assets/analytics3.png" class="analytics-background"></div>
    <div class="second" data-depth="0.8"><img src="../../assets/analytics2.png" class="analytics-background"></div>
  </div>
  <div class="homepage__box">
    <div class="homepage__box--left">
      <h1>Welcome to<br/><span class="title">PlantPheno Analytics</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid atque blanditiis cum facere, ipsum iure,
        molestias, numquam praesentium rerum sapiente totam! Doloribus eos esse iste nulla perferendis tenetur
        voluptatum?</p>
      <div class="homepage__box--left-button">
        <button class="btn sign-in" href="#" routerLink="/login">SIGN IN</button>
        <button class="btn servers" href="#" routerLink="/servers">ANALYTICS</button>
      </div>
    </div>
    <div class="homepage__box--right">
      <img src="../../assets/analytics1.png"/>
    </div>
  </div>
</div>
