<section>
  <div class="image">
    <div class="loginBox">
      <h2>SIGN UP</h2>
      <hr>
      <form>
        <p>Email</p>
        <input type="email" name="email"
               placeholder="Enter Email" required>
        <p>Name</p>
        <input type="name" name="name"
               placeholder="Enter Name">
        <p>Surname</p>
        <input type="surname" name="surname"
               placeholder="Enter Surname">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-z]).{8,}" title="Must contain al least one number,
               one uppercase and lowercase letter, and at least 8 characters" required>
        <button type="submit" name="sign-in"><span>SIGN UP</span></button>
        <a></a>
      </form>
    </div>
  </div>
</section>
