<div class="filters">
  <div class="filters__header">
    <div class="filters__header--back">
      <div class="info" routerLink="../variables">
        <img src="../../assets/back.png" alt="Back">
        <h4 class="back__title">Variables</h4>
      </div>
      <div class="filters__header--separator"></div>
      <h2 class="filters__header--title">Statistic</h2>
    </div>
    <div class="row">
    </div>
  </div>
  <button class="btn m-3 filters__header--button" *ngFor="let studyName of this.globals.studyStatisticVariables">{{studyName.studyName}}</button>
  <div class="charts">
      <table style=" margin: auto;
  width: 70%; color: white; height: 40rem">
          <td>
            <canvas id="barChart"></canvas>
          </td>

          <td>
         <!-- <canvas  style="margin-left: 20rem" id="pieChart" baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"></canvas> -->
        </td>
      </table>
    </div>
</div>
