section {
  position: absolute;
  z-index: -10;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200%;
  left: 0;
  top: 0;
  background-color: #303338;
  min-height: 100%;
  padding-top: 100px;
  .data__background{
    position: absolute;
    z-index: -1;

    &--front{
      position: absolute;
      top: 0;
      left: 0;
      opacity: .05;
    }

    &--back{
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
    }
  }
  .button, .btn {
    margin: auto;
    display: inline-block;
    width: 12.5rem;
    padding: 0.6rem;
    background-color: transparent;
    border: 1px solid #B6844A;
    border-radius: 5px;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;

    &:focus,
    &btn:active {
      outline: none !important;
      box-shadow: none;
    }

    &:hover {
      .fas {
        transition: hvr-wobble-horizontal 1s ease-out;
        animation-name: hvr-wobble-horizontal;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }

  .data__container .row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    &--item {
      display: flex;
      margin: 2rem auto;
      flex-direction: row;
      width: 40rem;
      height: 3rem;

      background: #7D786B;
      border-radius: 9px;


      padding: 0;
      border: none;

      &:focus, &btn:active {
        outline: none !important;
        box-shadow: none;
      }

      .checkbox-label {
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 22px;
        line-height: 3rem;
        height: 4rem;
        width: 3rem;
        clear: both;
      }

      .checkbox-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkbox-label .checkbox-custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        border-radius: 5px;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        background-color: #B6844A;
      }


      .checkbox-label input:checked ~ .checkbox-custom {
        border-radius: 5px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity: 1;
        background-color: #B6844A;
      }


      .checkbox-label .checkbox-custom::after {
        position: absolute;
        content: "";
        left: 1.5rem;
        top: 1.5rem;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid #FFFFFF;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
      }


      .checkbox-label input:checked ~ .checkbox-custom::after {
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 17px;
        top: 7px;
        width: 0.8rem;
        height: 1.6rem;
        border: solid #FFFFFF;
        border-width: 0 5px 5px 0;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }

  .container {
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: 240px;
      margin-top: 70px;
      font-size: 35px;
      font-family: Roboto, sans-serif;
      color: #444;
    }

    .row {
      display: flex;
      justify-content: center;
      text-align: center;

      .item{
        width: 250px;
        line-height: 32px;
        height: 40px;
        outline: none;
        margin-top: 30px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 18px;
        background: #7D786B;
        filter: opacity(90%);
        color: white;
      }
    }

    .list{

      h2{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 240px;
        margin-top: 80px;
        font-size: 25px;
        font-family: Roboto, sans-serif;
        color: #444;
      }

      .list-group {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;

        .list-group-item{
          width: 200px;
          display: flex;
          justify-content: center;
          text-align: center;
          margin: auto;
        }
      }
    }

    .charts {
      margin: auto;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      text-align: center;

      table{
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        td {
          margin: auto 10px;
          padding: 20px;
          width: 50vw;
          height: auto;
          display: block;
          background-color: white;
          border-radius: 5px;
          margin-bottom: 50px;


          .btn-pdf{
            margin-left: auto;
            margin-right: auto;
            width: 160px;
            height: 30px;
            border-radius: 18px;
            background: #7D786B;
            border: none;
            color: white;
            outline: none;
          }
        }
      }

    }
  }
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  line-height: 35px;
}
.cbx span:first-child {
  margin-top: 3px;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid white;
  transition: all 0.2s ease;
  margin-right: 10px;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border: 1px solid white;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #7D786B;
  border-color: #7D786B;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@supports (-moz-appearance:none) {
  section {
    .back {
      .fas {
        top: 6px;
      }
    }
  }
  .cbx span:first-child svg{
    stroke-dasharray: 15.5px;
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

@keyframes back {
  0% {left: 30px}
  50%{left: 10px}
  100%{left: 30px}
}


@media only screen and (max-width: 1400px){
  section{
    .back{
      left: 80px;
    }

    .container{
      .title, .row{
        margin-left: 65px;
      }

      .list{
        h2{
          margin-left: 65px;
        }

        .list-group{
          margin-left: 65px;
        }
      }

      .charts{
        table{
          margin-left: 65px;

          td{
            width: 70vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px){
  section{
    .container{
      .title, .row{
        margin-right: 5px;
      }
    }
  }
}


@media only screen and (max-width: 671px) {
  section {
    .back{
      left: 10px;
      top: 150px;
    }

    .container {
      .title {
        margin-left: 0px;
        margin-top: 150px;
      }

      .row {
        margin-left: 0px;
        margin-top: 50px;
      }

      .list {
        h2 {
          margin-left: 0px;
        }

        .list-group {
          margin-left: 0px;
        }
      }

      .charts {
        table {
          margin-left: 0px;

          td {
            width: 115vw;
            margin-left: -23px;



          }
        }
      }
    }
  }
}
