<div class="filters">
  <div class="filters__header">
    <div class="filters__header--back">
      <div class="info" routerLink="../trial">
        <img  src="../../assets/back.png" alt="Back">
        <h4 class="back__title">Trials</h4>
      </div>
      <div class="filters__header--separator"></div>
      <h2 class="filters__header--title">Studies</h2>
    </div>
    <div class="row d-flex justify-content-center">
      <button href="#" (click)="filtersShow = !filtersShow" class="btn m-3 filters__header--filter">Filters</button>
      <button
        href="#"
        class="btn m-3 filters__header--button"
        (click)="setSelectedServerStudiesFromSelectedFilteredRows()"
        [disabled]="isLoading || !this.filteredStudyRows.length > 0"
      >
        Accept
        <img src="../../assets/next.png" alt="Next">
      </button>
    </div>
  </div>
  <div *ngIf="filtersShow" class="optionalFilters">
    <h3 class="optionalFilters__label">Filter by Location</h3>
    <div class="optionalFilters__container">
      <div class="optionalFilters__container--content">
        <div class="optionalFilters__container--item" *ngFor="let location of this.locations; let i = index">
          <label class="checkbox" for="{{location}}{{i}}">
            <input
              [(ngModel)]="location.selected"
              type="checkbox"
              id="{{location}}{{i}}"
              name="num"
              checked = "checked"
              class="checkbox__input"
            >
              <span class="checkbox__box"></span>
            {{location.location}}
          </label>
        </div>
        <div class="no-items">There is no locations</div>
      </div>
    </div>
  </div>
  <div *ngIf="filtersShow" class="optionalFilters">
    <h3 class="optionalFilters__label">Filter by Season</h3>
    <div class="optionalFilters__container">
      <div class="optionalFilters__container--content">
      <div class="optionalFilters__container--item" *ngFor="let season of this.seasons; let i = index">
        <label class="checkbox" for="{{season}}{{i}}{{i}}">
          <input
            [(ngModel)]="season.selected"
            type="checkbox"
            id="{{season}}{{i}}{{i}}"
            name="num"
            checked="checked"
            class="checkbox__input"
          >
          <span class="checkbox__box"></span>
          {{season.year}}
        </label>
        </div>
        <div class="no-items">There is no seasons</div>
      </div>
      <button
        (click)="applyFilters()"
        class="optionalFilters__filter">Filter</button>
    </div>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div  *ngIf="!isLoading" class="filters__counter">
    <h3>Results found:</h3>
    <h3>{{filteredStudyRows.length}}</h3>
  </div>


  <div *ngIf="!isLoading" class="study">
    <table class="table table-striped table-dark" >
      <thead>
      <tr>
        <th><label for="all" class="checkbox">
          <input
            type="checkbox"
            id="all"
            name="num"
            [(ngModel)]="isChecked" (change)="checkValue(isChecked?'checked':'B')"
            class="checkbox__input"
          >
          <span class="checkbox__box"></span>
        </label></th>
        <th>Study Name</th>
        <th>Location Name</th>
        <th>Year</th>
        <th>Documentation URL</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filteredStudyRow of this.filteredStudyRows; let i = index">
        <td>
          <label class="checkbox" for="{{i}}">
            <input
              [(ngModel)]="filteredStudyRow.selected"
              type="checkbox"
              id="{{i}}"
              name="num"
              checked="checked"
              class="checkbox__input"
            >
            <span class="checkbox__box"></span>
          </label>
        </td>
        <td class="hasTooltip">
          <div class="hasTooltip__container">
            <div class="item">{{ filteredStudyRow.study.name ? filteredStudyRow.study.name : '---' }}</div>
            <div class="tooltip">{{ filteredStudyRow.study.name ? filteredStudyRow.study.name : '---' }}</div>
          </div>
        </td>
        <td>{{ filteredStudyRow.study.locationName ? filteredStudyRow.study.locationName : '---' }}</td>
        <td>
          <div  *ngFor="let season of filteredStudyRow.study.seasons">{{ season.year ? season.year : '---' }}</div>
        </td>
        <td>
          <a target="_blank" href="{{ filteredStudyRow.study.documentationURL ? filteredStudyRow.study.documentationURL : '#' }}">{{ filteredStudyRow.study.documentationURL ? filteredStudyRow.study.documentationURL : '---' }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

