nav{
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
  background-color: #303338;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding-top: 2rem;

  .logo{
    background-color: #fff;
    padding: 0.5rem;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    border-radius: 10px;


    .logotype{
      height: 40px;
      width: auto;
      display: flex;
      justify-content: left;
      outline: none;

      &:hover{
        cursor: pointer;
      }
    }

  }

  .container{
    max-width: 100%;
    margin: 0 5% 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    .btn{
      width: 6rem;
      display: inline-block;
      margin: 20px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-family: Saira;
      font-weight: 300;
      font-size: 17px;
      border-radius: 5px;
      padding: 5px 10px;
    }

    .btn.sign{
      border: 1px solid #B6844A;

      &:hover{
        background-color: #715234;
      }
    }

    .btn.login{
      background-color: #B6844A;

      &:hover{
        background-color: #715234;
      }
    }

  }
}

@media only screen and (max-width: 500px){
  nav {
    .logo{
      .logotype{
        height: 30px;
      }
    }

    .container{
      .btn{
        margin: 10px;
        width: 5rem;
        font-size: 15px;
      }
    }
  }
}
