<section class="box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>



      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>



      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>
      <div class="col-md-12 col-lg-3 card item">
        <div class="header">
          <i class="fas fa-angle-double-right float-left"></i>
          <div class="float-left">Test1</div>
        </div>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deleniti dolorem ducimus ex harum inventore nihil quisquam veritatis vitae?</h5>
        <a href="#"><i class="fas fa-download"></i>Download</a>
      </div>

    </div>
  </div>
</section>
