<div class="filters">
  <div class="filters__header">
    <div class="filters__header--back">
      <div class="info" routerLink="../">
        <img src="../../assets/back.png" alt="Back">
        <h4 class="back__title">Servers</h4>
      </div>
      <div class="filters__header--separator"></div>
      <h2 class="filters__header--title">Choose filters</h2>
    </div>
    <button
      *ngIf="firstAcceptButton"
      (click)="showStudyFilters() || showLocationFiletrs()"
      href="#"
      class="btn filters__header--button"
    >
      Accept
      <img src="../../assets/next.png" alt="Next">
    </button>
    <button
      *ngIf="acceptButtonS"
      (click)="acceptButtonSF() "
      href="#"
      class="btn filters__header--button"
    >
      Accept
      <img src="../../assets/next.png" alt="Next">
    </button>
    <button
      *ngIf="acceptButtonTable"
      (click)="acceptButtonTablee() "
      href="#"
      class="btn filters__header--button"
    >
      Accept
      <img src="../../assets/next.png" alt="Next">
    </button>
  </div>
  <div class="filters__container">
    <button
      class="btn filters__header--button-l"
      (click)="trialsFunction() "
    >
      Show loaded Trials
      <img src="../../assets/next.png" alt="Next">
    </button>
    <div  *ngIf="isShow" class="trials">
      <div class="filters__container&#45;&#45;card" *ngFor="let trial of this.globals.serverArray; let i = index">
        <input
          class="filters__container&#45;&#45;card-checkbox"
          [(ngModel)]="checkboxes[i].selected"
          type="checkbox"
          id="{{ checkboxes[i].trialName }}{{i}}"
          name="num"
          checked="checked"
        />
        <div class="filters__container&#45;&#45;card-content">
          <label for="{{ checkboxes[i].trialName }}{{i}}">
            <div class="header">
              <h3>{{checkboxes[i].trialName}}</h3>
              <div class="row mt-4">
                <h5>Program Name:</h5>
                <h5 class="bold" >{{checkboxes[i].programName}}</h5>
              </div>
              <div class="row">
                <h5>Examined Crop:</h5>
                <h5 class="bold">{{this.globals.serverArray[i].commonCropName}}</h5>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="studyFilters" *ngIf="isDisplay.studyFilters">
      <div class="filters__container&#45;&#45;card" *ngFor="let check of [0,1,2]; let j = index">
        <input
          class="filters__container&#45;&#45;card-checkbox"
          [(ngModel)]="staticCheckboxes[j].selected"
          type="checkbox"
          id="{{ staticCheckboxes[j].study}}{{j}}"
          name="num"
          checked="checked"
        />
        <div class="filters__container&#45;&#45;card-content">
          <label for="{{ staticCheckboxes[j].study}}{{j}}">
            <div class="header">
              <h3 class="mb-0 mt-2">{{ staticCheckboxes[j].study}}</h3>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div  *ngIf="isStudy" class="trials">
      <div class="filters__container&#45;&#45;card" *ngFor="let trial of this.globals.studiesIdArray; let i = index">
        <input
          class="filters__container&#45;&#45;card-checkbox"
          [(ngModel)]="studiesCheckboxes[i].selected"
          type="checkbox"
          id="{{studiesCheckboxes[i].studyName}}"
          name="num"
          checked="checked"
        />
        <div class="filters__container&#45;&#45;card-content">
          <label for="{{studiesCheckboxes[i].studyName}}">
            <div class="header">
              <h3>{{studiesCheckboxes[i].studyName}}</h3>
              <div class="row mt-4">
                <h5>Study type::</h5>
                <h5 class="bold" >{{studiesCheckboxes[i].studyType}}</h5>
              </div>
              <div class="row">
                <h5>Start date:</h5>
                <h5 class="bold">{{studiesCheckboxes[i].startDate}}</h5>
              </div>
              <div class="row">
                <h5>Finish date:</h5>
                <h5 class="bold">{{studiesCheckboxes[i].endDate}}</h5>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div  *ngIf="isLocation" class="trials">
      <div class="filters__container&#45;&#45;card" *ngFor="let trial of this.globals.locationDbId; let i = index">
        <input
          class="filters__container&#45;&#45;card-checkbox"
          [(ngModel)]="filtersCheckboxes[i].selected"
          type="checkbox"
          id="{{filtersCheckboxes[i].locationName}}"
          name="num"
          checked="checked"
        />
        <div class="filters__container&#45;&#45;card-content">
          <label for="{{filtersCheckboxes[i].locationName}}">
            <div class="header">
              <h3>{{filtersCheckboxes[i].locationName}}</h3>
              <div class="row mt-4">
                <h5>Study Name:</h5>
                <h5 class="bold" >{{filtersCheckboxes[i].studyName}}</h5>
              </div>
              <div class="row">
                <h5>Program Name:</h5>
                <h5 class="bold">{{filtersCheckboxes[i].programName}}</h5>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-dark table-bordered table-hover"  *ngIf="isTable" style="margin-top: 2rem" >
    <thead>
    <tr>
      <th scope="col">Examine</th>
      <th scope="col">Study Name</th>
      <th scope="col">Examined Crop</th>
      <th scope="col">Study Type</th>
      <th scope="col">Location Name</th>
      <th scope="col">trial Name </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trial of this.globals.locationDbId; let i = index">
      <th>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1{{i}}">
          <label class="custom-control-label" for="tableDefaultCheck1{{i}}"></label>
        </div>
      </th>
      <th scope="row">{{this.globals.studiesArray[i].studyName}}</th>
      <th scope="row">{{this.globals.studiesArray[i].studyNType}}</th>
      <td>{{this.globals.studiesArray[i].commonCropsName}}</td>
      <td>{{this.globals.locationsArray[i].locationName}}</td>
      <td>{{this.globals.serverArray[i].trialName}}</td>
    </tr>
    </tbody>
  </table>
</div>
