section {
  background: rgba(251, 249, 241, 0.65);
  position: absolute;
  z-index: -10;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .image {
    padding-top: 100px;
    background: linear-gradient(
        rgba(247, 247, 247, 0.5),
        rgba(247, 247, 247, 0.5)
    ),
    url("../../assets/background-servers.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;

  }

  .title{
    color: #444444;
    text-align: center;
    font-family: 'Questrial', sans-serif;
  }

  .row{
    margin-top: 50px;
  }

  select{
    margin-top: 20px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 120px;
    height: 40px;
    outline: none;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 18px;
    background: #4fa097;
    filter: opacity(90%);
    color: white;
  }

  .row{
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    label{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }

  .btn-filter{
    width: 120px;
    height: 40px;
    outline: none;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 18px;
    background: #4fa097;
    filter: opacity(90%);
    color: white;
  }



  .table-wrapper {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 932px;
    display: block;
    max-height: 80%;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    thead {
      background: #4fa097;
      filter: opacity(80%);
      color: white;
    }
  }

}

@media only screen and (min-width: 1200px) {
  section {
    .row {
      width: 1000px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
  section {
    .row {
      width: 160px;
      text-align: center;
    }
    .table-wrapper {
      width: 600px;
    }
  }
}

@media only screen and (max-width: 670px) {
  section {
    .table-wrapper {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 400px) {
  section {
    .table-wrapper {
      width: 300px;
    }
  }
}
