section {
  position: absolute;
  z-index: -10;
  border: 0;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
  background-color: #303338;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 100%;

  .background{
    position: absolute;
    overflow: hidden;
    z-index: -1;

    &__back{
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: .05;
    }

    &__front{
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: .2;
    }
  }

  .col{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      color: #fff;
    }

    .btn{
      width: 200px;
      padding: 10px;
      color: #fff;
      font-family: Roboto;
      font-weight: lighter;
      font-size: 25px;
      border-radius: 5px;

      &:focus, &btn:active {
        outline: none !important;
        box-shadow: none;
      }
    }

    .next {
      display: flex;
      margin: auto;
      margin-top: 40px;
      justify-content: center;
      border: 1px solid #B6844A;

      & .fa-long-arrow-alt-right{
        margin: 5px 0 0 20px;
      }
    }
  }

  .row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

    .col {
      padding-left: 0;

    }

    .card {
      margin-left: auto;
      margin-right: auto;
      width: 270px;
      margin-top: 20px;
      height: 310px;
      color: rgba(78, 78, 78, 0.92);
      padding: 0;
      cursor: pointer;

      .card-header{
        font-family: Roboto;
        font-size: 24px;
        width: 100%;
        color: #ffffff;
        background-color: #858585;
      }

      .card-body {
        text-align: center;
        background-color: #ffffff;

        & .card-title{
          font-family: Roboto;
          font-size: 18px;
          margin-bottom: 5px;
        }

        & .card-hr{
          border-bottom: .5px solid rgb(133, 133, 133);
          margin-bottom: 30px;
          margin-top: 0;
        }

        & .card-text{
          font-family: Roboto;
          font-size: 12px;
        }

        input[type=checkbox]{
          display: none;
        }

        button {
          margin-top: 40px;
          width: 134px;
          border-radius: 18px;
          border: none;
          background: #4fa097;
          color: white;
          height: 39px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          outline: none;
          font-size: 16px;
          font-family: 'Questrial', sans-serif;
        }

        .btn {
          margin-top: 63px;
          width: 134px;
          border-radius: 18px;
          border: none;
          background: #4fa097;
          color: white;
          height: 39px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          outline: none;
          font-size: 16px;
          font-family: 'Questrial', sans-serif;
        }

        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }

        span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }

        button:hover {
          background-color: rgba(16, 83, 73, 0.76);
          transition: 0.8s;

          span {
            padding-right: 25px;
          }

          span:after {
            opacity: 1;
            right: 0;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1400px) {
  section {
    .title{
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 671px) {
  section {
    .row {
      margin-top: 40px;
    }

    .title{
      margin-top: 80px;
    }
  }
}


