<div class="servers">
  <div class="servers__background">
    <img
      class="servers__background--back"
      src="../../assets/leaves-background-1.png"
    />
    <img
      class="servers__background--front"
      src="../../assets/leaves-background-2.png"
    />
  </div>
  <div class="servers__header">
    <h2 class="servers__header--title">SELECT SERVER</h2>
    <button
      href="#"
      routerLink="data"
      class="btn servers__header--button"
      (click)="getSelected()"
    >
      NEXT<i class="fas fa-long-arrow-alt-right"></i>
    </button>
  </div>
   <div class="servers__container" >
    <div class="servers__container--card" *ngFor="let server of servers;let i = index ">
      <input
        class="servers__container--card-checkbox"
        [(ngModel)]="checkboxes[i].selected"
        type="checkbox"
        value="{{ checkboxes[i].value }}"
        id="{{ checkboxes[i].value }}"
        name="num"
        checked="checked"
      />
      <div class="servers__container--card-content">
        <label for="{{ checkboxes[i].value }}">
          <h3>{{server.name}}</h3>
          <h5>{{server.ipAddress}}</h5>
          <p class="small-meta dim">
            Fully implemented example of the BrAPI specification, backed by a
            sample database.
          </p>
        </label>
      </div>
    </div>
  </div>
</div>
