<section>
  <div class="image">
    <h2 class="title">SELECT SERVER</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4">
      <div class="card">
        <h5 class="card-header">Breeding Api</h5>
        <div class="card-body">
          <h5 class="card-title">https://test-server.brapi.org/</h5>
          <p class="card-text">Fully implemented example of the BrAPI specification, backed by a sample database.</p>
          <button href="#" routerLink="data" (click)="setServerVariable(true)"><span>UPLOAD</span></button>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4">
      <div class="card">
        <h5 class="card-header">App hosting server</h5>
        <div class="card-body">
          <h5 class="card-title">http://104.248.254.181:8080/</h5>
          <p class="card-text">Fully implemented example of the BrAPI specification, backed by a sample database.</p>
          <button href="#" routerLink="data" (click)="setServerVariable(false)"><span>UPLOAD</span></button>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

