<div class="servers">
  <div class="servers__header">
    <div class="servers__header--back">
      <div class="info" routerLink="/home">
        <img src="../../assets/back.png" alt="Back">
        <h4 class="back__title">Homepage</h4>
      </div>
      <div class="servers__header--separator"></div>
      <h2 class="servers__header--title">Servers status</h2>
    </div>
    <button
      href="#"
      class="btn servers__header--button"
      type="button"
      [disabled]="isLoading || !this.servers.length > 0"
    >
      Next <img src="../../assets/next.png" alt="Next">
    </button>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div *ngIf="!isLoading" class="servers__container">
    <div class="servers__container--counter">
      <h3>Results found:</h3>
      <h3>{{servers.length}}</h3>
    </div>
    <div class="servers__container&#45;&#45;card" *ngFor="let server of servers;let i = index ">

      <div class="servers__container&#45;&#45;card-content">
        <label >
          <div class="row m-0 pl-3 pr-3 justify-content-between">
            <h3>{{server.name}}</h3>
            <h3 class="tooltip">{{server.name}}</h3>
          </div>
          <div class="separator"></div>
          <div class="row m-0 pl-3 pr-3">
            <h5>{{server.ipAddress}}</h5>
            <h5 class="tooltip">{{server.ipAddress}}</h5>
          </div>
          <div class="row m-0 pl-3 pr-3">
            <ng-template [ngIf]="server.status === 200" [ngIfElse]="offline">
              <p class="online">Server is online<i class="fas fa-check"></i></p>
            </ng-template>
            <ng-template #offline>
              <p class="offline">Server is offline<i class="fas fa-times"></i></p>
            </ng-template>
          </div>
        </label>
      </div>
    </div>


  </div>
</div>
