<div class="data">
  <div class="data__background">
    <img class="data__background--front" src="../../assets/leaves-background-1.png"/>
    <img class="data__background--back" src="../../assets/leaves-background-2.png" />
  </div>
  <div class="data__header">
    <h2 class="title">CHOOSE STUDY</h2>
    <div class="buttons">
      <button class="btn button" type="button" href="#" routerLink="/servers">
        <i class="fas back fa-long-arrow-alt-left"></i>
        BACK
      </button>
      <button class="btn button" type="button" href="#" routerLink="/servers/study">
        NEXT
        <i class="fas next fa-long-arrow-alt-right"></i>
      </button>
    </div>
  </div>

    <div class=" data__container--item" href="#">
      <!--routerLink="/servers/study"-->
      <label class="checkbox-label">
        <input id="study" type="checkbox">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <p class="name">Study 1 -> Peru Yield Trial 1 -> Tomatillo</p>
    </div>
    <div class=" data__container--item" href="#">
      <!--routerLink="/servers/trials"-->
      <label class="checkbox-label">
        <input id="trials" type="checkbox">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <p class="name">Study 2 -> Peru Yield Trial 2 -> Tomatillo</p>
    </div>
    <div class="2  data__container--item" href="#">
      <!--routerLink="/servers/seasons"-->
      <label class="checkbox-label">
        <input id="seasons" type="checkbox">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <p class="name">Study 1 -> Peru Yield Trial 1 -> Tomatillo</p>

  </div>
</div>

